<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lwr.gift">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".PicMusic2tt"
            android:label="@string/app_name2"
            android:process=":process.sub"
            android:launchMode ="singleInstance"
            android:icon="@drawable/ic_app_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Song2"
            android:label="@string/app_name3"
            android:process=":process.sub"
            android:launchMode ="singleInstance"
            android:icon="@drawable/ic_roger">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BirthdayMV4"
            android:label="@string/app_name5_1"
            android:process=":process.sub"
            android:launchMode ="singleInstance"
            android:icon="@drawable/ic_app_5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity8"
            android:label="@string/app_name8"
            android:process=":process.sub"
            android:launchMode ="singleInstance"
            android:icon="@drawable/ic_app_8">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity9"
            android:label="@string/app_name9"
            android:process=":process.sub"
            android:launchMode ="singleInstance"
            android:icon="@drawable/ic_app_9">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>